<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Booking Confrimation</title>
		<style>
		
		body {
			background-color: lightblue;
		}
		.edit { display: inline-block; border:1px solid lightgray; background-color:green; }
		.active { background-color: yellow; }
		.big {font-size: 150%; font-weight: bold;}
		.big1 {font-size: 120%; color: #1E90FF;}
		.big2 {font-weight: bold;}
		
		</style>
	</head>
	<body>
<wo:SignUpConfirmationBody signUp = "$signUp"></wo:SignUpConfirmationBody>
</body>
</html>